.categories-container {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    z-index: 999;
    top: 0px;
    left: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
    display: flex;
}

.categories {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}