.categories-container {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    z-index: 999;
    top: 62px;
}

.active {
    display: flex;
}

.categories {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.categories-list {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background-light);
    width: 150px;
    height: 100vh;
}

.categories-list a {
    cursor: pointer;
    font-size: 0.8em;
    margin: 5px;
    font-weight: 500;
    padding: 2px 2px 4px 2px;
    color: var(--light-background-dark);
    transition: .2s all ease-in-out;
    border-bottom: 1.5px solid var(--light-background-dark);
}

.categories-list a:nth-last-child(1) {
    border-bottom: none;
}

.categories-list a:hover {
    color: whitesmoke;
}

@media (max-width : 600px) {
    .categories-container {
        top: 45px;
    }
}